/*** XL ***/
@media (min-width: 1080px){
    body{
        background: rgb(61, 69, 80);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    h1{
        color: #fff;
    }
    /*Initial*/
    #container{
        width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    main{
        border: 1px solid rgba(255, 255, 255, 0.253);
        border-radius: 10px;
        box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.062);
        width: 700px;
        margin: 0 auto;
        padding-top: 20px;
    }

    #menu{
        position: absolute;
        top: 280px;
        left: 50%;
        transform: translateX(-50%);
    }

    /*Panel and Game*/
    #panel{
        width: 392px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        visibility: hidden;
    }
    
    .dvs{
        width: 130px;
        height: 130px;
        border: 1px solid #fff;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dvs:hover{
        background: rgba(255, 255, 255, 0.055);
        cursor: pointer;
    }

    /*Panel divs*/
    #p1{
        border-top: none;
        border-left: none;
    }
    #p2{
        border-top: none;
    }
    #p3{
        border-top: none;
        border-right: none;
    }
    #p4{
        border-left: none;
    }
    #p6{
        border-right: none;
    }
    #p7{
        border-bottom: none;
        border-left: none;
    }
    #p8{
        border-bottom: none;
    }
    #p9{
        border-right: none;
        border-bottom: none;
    }
    #back{
        width: 400px;
        margin: 20px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #turn{
        border: 1px solid rgba(255, 255, 255, 0.253);
        border-radius: 10px;
        width: 150px;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5em;
    }
    #panelX{
        color: rgba(255, 0, 0, 0.205);
    }
    #panelO{
        color: rgba(173, 216, 230, 0.205);
    }

    /*** Footer ***/
    footer span{
        color: #fff;
        font-family: monospace;
        font-size: 1.2em;
        display: block;
        margin-top: 30px;
    }
    

    
}
/*** LG ***/
@media (min-width: 768px) and (max-width: 1079.98px){
    body{
        background: rgb(61, 69, 80);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    h1{
        color: #fff;
    }
    /*Initial*/
    #container{
        width: 700px;
        margin: 0 auto;
        text-align: center;
    }

    main{
        border: 1px solid rgba(255, 255, 255, 0.253);
        border-radius: 10px;
        box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.062);
        width: 600px;
        margin: 0 auto;
        padding-top: 20px;
    }

    #menu{
        position: absolute;
        top: 240px;
        left: 50%;
        transform: translateX(-50%);
    }

    /*Panel and Game*/
    #panel{
        width: 332px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        visibility: hidden;
    }
    
    .dvs{
        width: 110px;
        height: 110px;
        border: 1px solid #fff;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dvs:hover{
        background: rgba(255, 255, 255, 0.055);
        cursor: pointer;
    }

    /*Panel divs*/
    #p1{
        border-top: none;
        border-left: none;
    }
    #p2{
        border-top: none;
    }
    #p3{
        border-top: none;
        border-right: none;
    }
    #p4{
        border-left: none;
    }
    #p6{
        border-right: none;
    }
    #p7{
        border-bottom: none;
        border-left: none;
    }
    #p8{
        border-bottom: none;
    }
    #p9{
        border-right: none;
        border-bottom: none;
    }
    #back{
        width: 300px;
        margin: 10px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #turn{
        border: 1px solid rgba(255, 255, 255, 0.253);
        border-radius: 10px;
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5em;
    }
    #panelX{
        color: rgba(255, 0, 0, 0.205);
    }
    #panelO{
        color: rgba(173, 216, 230, 0.205);
    }


    /*** Footer ***/
    footer span{
        color: #fff;
        font-family: monospace;
        font-size: 1.2em;
        display: block;
        margin-top: 30px;
    }
}
/*** MD ***/
@media (min-width: 540px) and (max-width: 767.98px){
    body{
        background: rgb(61, 69, 80);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    h1{
        color: #fff;
    }
    /*Initial*/
    #container{
        width: 540px;
        margin: 0 auto;
        text-align: center;
    }

    main{
        border: 1px solid rgba(255, 255, 255, 0.253);
        border-radius: 10px;
        box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.062);
        width: 400px;
        margin: 0 auto;
        padding-top: 20px;
    }

    #menu{
        position: absolute;
        top: 220px;
        left: 50%;
        transform: translateX(-50%);
    }

    /*Panel and Game*/
    #panel{
        width: 272px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        visibility: hidden;
    }
    
    .dvs{
        width: 90px;
        height: 90px;
        border: 1px solid #fff;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dvs:hover{
        background: rgba(255, 255, 255, 0.055);
        cursor: pointer;
    }

    /*Panel divs*/
    #p1{
        border-top: none;
        border-left: none;
    }
    #p2{
        border-top: none;
    }
    #p3{
        border-top: none;
        border-right: none;
    }
    #p4{
        border-left: none;
    }
    #p6{
        border-right: none;
    }
    #p7{
        border-bottom: none;
        border-left: none;
    }
    #p8{
        border-bottom: none;
    }
    #p9{
        border-right: none;
        border-bottom: none;
    }
    #back{
        width: 220px;
        margin: 20px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #turn{
        border: 1px solid rgba(255, 255, 255, 0.253);
        border-radius: 10px;
        width: 60px;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5em;
    }
    #panelX{
        color: rgba(255, 0, 0, 0.205);
    }
    #panelO{
        color: rgba(173, 216, 230, 0.205);
    }

    /*** Footer ***/
    footer span{
        color: #fff;
        font-family: monospace;
        font-size: 1.2em;
        display: block;
        margin-top: 30px;
    }
}
/*** SM ***/
@media (max-width: 539.98px){
    body{
        background: rgb(61, 69, 80);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    }
    
    h1{
        color: #fff;
    }
    /*Initial*/
    #container{
        width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    main{
        position: relative;
        border: 1px solid rgba(255, 255, 255, 0.253);
        border-radius: 10px;
        box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.062);
        width: 300px;
        margin: 0 auto;
        padding-top: 20px;
    }

    #menu{
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }

    /*Panel and Game*/
    #panel{
        width: 212px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        visibility: hidden;
    }
    
    .dvs{
        width: 70px;
        height: 70px;
        border: 1px solid #fff;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dvs:hover{
        background: rgba(255, 255, 255, 0.055);
        cursor: pointer;
    }

    /*Panel divs*/
    #p1{
        border-top: none;
        border-left: none;
    }
    #p2{
        border-top: none;
    }
    #p3{
        border-top: none;
        border-right: none;
    }
    #p4{
        border-left: none;
    }
    #p6{
        border-right: none;
    }
    #p7{
        border-bottom: none;
        border-left: none;
    }
    #p8{
        border-bottom: none;
    }
    #p9{
        border-right: none;
        border-bottom: none;
    }
    #back{
        width: 200px;
        margin: 20px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #turn{
        border: 1px solid rgba(255, 255, 255, 0.253);
        border-radius: 10px;
        width: 60px;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5em;
    }
    #panelX{
        color: rgba(255, 0, 0, 0.205);
    }
    #panelO{
        color: rgba(173, 216, 230, 0.205);
    }

    /*** Footer ***/
    footer span{
        color: #fff;
        font-family: monospace;
        font-size: 1.1em;
        display: block;
        margin-top: 20px;
    }

}